<!DOCTYPE >
<html lang="de">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Login</title>
    <link rel="stylesheet" href="/css/style.css" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.1/css/all.min.css" />
  </head>
  <body id="body">
    <main>
      <div id="login-wrapper">
        <div id="infos">
          <h1>Expiry Date</h1>
          <h2>by Zinedine Tomasella</h2>
          <a href="www.ztomasella.com">www.ztomasella.com</a>
        </div>
        <form action="/index" id="login" method="post">
          <h1>Login</h1>
          <input type="text" placeholder="Username" name="username" required />
          <input type="password" placeholder="Password" name="password" required />
          <button type="submit">LOGIN</button>
          <div id="register">
            <p>Not a member?</p>
            <a href="/register">Register</a>
          </div>
          <% if (messages.error) { %>
          <p id="message-error"><%= messages.error %></p>
          <% } %>
        </form>
      </div>
    </main>
  </body>
  <script language="javascript" type="text/javascript" src="/javascript/codeindex.js"></script>
</html>
